.button-container {
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.alert.alert-success {
    background-color: #c7d4df !important;
    border-color: #006eff !important;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

body {
    background: linear-gradient(to right, #ffffff49, #f0f1f4, #ffffff, #ffffff49);
    background-size: 200% 100%;
    animation: backgroundAnimation 10s ease-in-out infinite;
}
